
<div class="container vtabs" style="margin-top: 100px">
  <!-- Left tabs -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3 class="display-6">Mon Profile</h3>
      <hr />
    </div>
  </div>

  <div class="row">
    <!-- Tabs -->
    <div class="col-md-3">
      <ul class="nav nav-tabs left-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <div
            id="lorem-left-tab"
            class="nav-link tab-clickable active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#lorem-left"
            aria-controls="lorem-left"
            aria-selected="true"
          >
            Contraventions
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <div
            id="sapien-left-tab"
            class="nav-link tab-clickable"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#sapien-left"
            aria-controls="sapien-left"
            aria-selected="false"
          >
           Paiements
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <!-- use the title attribute to show a tooltip with the full long name
               in case the tab is trucated-->
          <div
            id="llanfairpwllgwyngyll-left-tab"
            class="nav-link tab-clickable"
            role="tab"
            title=""
            data-bs-toggle="tab"
            data-bs-target="#llanfairpwllgwyngyll-left"
            aria-controls="llanfairpwllgwyngyll-left"
            aria-selected="false"
          >

          </div>
        </li>
      </ul>
    </div>

    <!-- Tab contents -->
    <div class="col-md-9">
      <div class="container">
        <div id="accordion-left-tabs" class="tab-content accordion">
          <!-- Individual tab panels -->
          <!-- tab-pane must be a child of tab-content -->
          <div
            id="lorem-left"
            class="tab-pane fade show active accordion-item"
            role="tabpanel"
          >
            <div class="accordion-header" role="tab">
              <button
                class="accordion-button collapsed"
                type="button"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#lorem-left-article"
                aria-expanded="true"
                aria-controls="lorem-left-article"
              >
                Liste de vos contravention
              </button>
            </div>
            <article
              id="lorem-left-article"
              class="accordion-body accordion-collapse collapse"
              data-bs-parent="#accordion-left-tabs"
              aria-labelledby="lorem-left-tab"
            >
              <h1>5 Contraventions</h1>
              <section>
                <table class="table">
                  <thead>
                  <tr>
                    <th>ID #</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                      Payer
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i  style="color: darkred" class="fa fa-lock"></i>
                    </td>
                    <td>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal"  class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button data-bs-toggle="modal" data-bs-target="#exampleModal" disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </section>
            </article>
          </div>

          <div
            id="sapien-left"
            class="tab-pane fade accordion-item"
            role="tabpanel"
          >
            <div class="accordion-header" role="tab">
              <button
                class="accordion-button collapsed"
                type="button"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#sapien-left-article"
                aria-expanded="false"
                aria-controls="sapien-left-article"
              >
                Mes Paiements
              </button>
            </div>

            <article
              id="sapien-left-article"
              class="accordion-body accordion-collapse collapse"
              data-bs-parent="#accordion-left-tabs"
              aria-labelledby="sapien-left-tab"
            >
              <h1>Sapien</h1>
              <section>
                Sapien et ligula ullamcorper malesuada proin. Enim nulla
                aliquet porttitor lacus luctus accumsan. Phasellus egestas
                tellus rutrum tellus pellentesque eu. Morbi leo urna
                molestie at. Ac odio tempor orci dapibus ultrices in iaculis
                nunc. Consequat nisl vel pretium lectus quam id leo in
                vitae. Proin sagittis nisl rhoncus mattis rhoncus urna
                neque. Vulputate dignissim suspendisse in est ante. Luctus
                venenatis lectus magna fringilla urna porttitor rhoncus
                dolor. Quis auctor elit sed vulputate mi sit amet mauris
                commodo.
              </section>
            </article>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #0f5132" id="exampleModalLabel" >(+509) 4990-7709</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       <div style="margin: 0px auto; text-align: center" class="mb-3">
         <img class="w-50" src="../../assets/images/btn.png" alt="btn_icon">
       </div>
        <div class="input-group mb-3 w-75 m-auto">
          <span class="input-group-text">HTG</span>
          <input disabled type="text" class="form-control" value="10000">
          <span class="input-group-text">.00</span>
        </div>
        <div class="input-group mb-3 w-75 m-auto">
          <span class="input-group-text">(509)</span>
          <input  type="text" class="form-control" value="" placeholder="Entrer votre numero">
          <span class="input-group-text">Haiti</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          <i class="fa fa-arrow-right"></i>
          Quitter</button>
        <button (click)="payer()" type="button" class="btn btn-primary">
          <i class="fa fa-file-invoice-dollar"></i>
          Payer</button>
      </div>
    </div>
  </div>
</div>
