
<div class="container vtabs" style="margin-top: 100px">
  <!-- Left tabs -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3 class="display-6">Mon Profile</h3>
      <hr />
    </div>
  </div>

  <div class="row">
    <!-- Tabs -->
    <div class="col-md-3">
      <ul class="nav nav-tabs left-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <div
            id="lorem-left-tab"
            class="nav-link tab-clickable active"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#lorem-left"
            aria-controls="lorem-left"
            aria-selected="true"
          >
            Contraventions
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <div
            id="sapien-left-tab"
            class="nav-link tab-clickable"
            role="tab"
            data-bs-toggle="tab"
            data-bs-target="#sapien-left"
            aria-controls="sapien-left"
            aria-selected="false"
          >
           Paiements
          </div>
        </li>
        <li class="nav-item" role="presentation">
          <!-- use the title attribute to show a tooltip with the full long name
               in case the tab is trucated-->
          <div
            id="llanfairpwllgwyngyll-left-tab"
            class="nav-link tab-clickable"
            role="tab"
            title=""
            data-bs-toggle="tab"
            data-bs-target="#llanfairpwllgwyngyll-left"
            aria-controls="llanfairpwllgwyngyll-left"
            aria-selected="false"
          >

          </div>
        </li>
      </ul>
    </div>

    <!-- Tab contents -->
    <div class="col-md-9">
      <div class="container">
        <div id="accordion-left-tabs" class="tab-content accordion">
          <!-- Individual tab panels -->
          <!-- tab-pane must be a child of tab-content -->
          <div
            id="lorem-left"
            class="tab-pane fade show active accordion-item"
            role="tabpanel"
          >
            <div class="accordion-header" role="tab">
              <button
                class="accordion-button collapsed"
                type="button"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#lorem-left-article"
                aria-expanded="true"
                aria-controls="lorem-left-article"
              >
                Liste de vos contravention
              </button>
            </div>
            <article
              id="lorem-left-article"
              class="accordion-body accordion-collapse collapse"
              data-bs-parent="#accordion-left-tabs"
              aria-labelledby="lorem-left-tab"
            >
              <h1>5 Contraventions</h1>
              <section>
                <table class="table">
                  <thead>
                  <tr>
                    <th>ID #</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                      Payer
                    </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i  style="color: darkred" class="fa fa-lock"></i>
                    </td>
                    <td>
                      <button   class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>7/04/2022</td>
                    <td>1000.00 HTG</td>
                    <td>
                      <i style="color: green" class="fa fa-check"></i>
                    </td>
                    <td>
                      <button disabled class="btn btn-primary"> <i class="fa fa-dollar-sign"></i>
                        Payer
                      </button>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </section>
            </article>
          </div>

          <div
            id="sapien-left"
            class="tab-pane fade accordion-item"
            role="tabpanel"
          >
            <div class="accordion-header" role="tab">
              <button
                class="accordion-button collapsed"
                type="button"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#sapien-left-article"
                aria-expanded="false"
                aria-controls="sapien-left-article"
              >
                Mes Paiements
              </button>
            </div>

            <article
              id="sapien-left-article"
              class="accordion-body accordion-collapse collapse"
              data-bs-parent="#accordion-left-tabs"
              aria-labelledby="sapien-left-tab"
            >
              <h1>Sapien</h1>
              <section>
                Sapien et ligula ullamcorper malesuada proin. Enim nulla
                aliquet porttitor lacus luctus accumsan. Phasellus egestas
                tellus rutrum tellus pellentesque eu. Morbi leo urna
                molestie at. Ac odio tempor orci dapibus ultrices in iaculis
                nunc. Consequat nisl vel pretium lectus quam id leo in
                vitae. Proin sagittis nisl rhoncus mattis rhoncus urna
                neque. Vulputate dignissim suspendisse in est ante. Luctus
                venenatis lectus magna fringilla urna porttitor rhoncus
                dolor. Quis auctor elit sed vulputate mi sit amet mauris
                commodo.
              </section>
            </article>
          </div>

          <div
            id="llanfairpwllgwyngyll-left"
            class="tab-pane fade accordion-item"
            role="tabpanel"
          >
            <div class="accordion-header" role="tab">
              <button
                class="accordion-button collapsed"
                type="button"
                role="button"
                data-bs-toggle="collapse"
                data-bs-target="#llanfairpwllgwyngyll-left-article"
                aria-expanded="false"
                aria-controls="llanfairpwllgwyngyll-left-article"
              >
                <!-- Use the ellipsis class for long text in accordion buttons -->
                <div class="ellipsis">
                  Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch
                </div>
              </button>
            </div>
            <article
              id="llanfairpwllgwyngyll-left-article"
              class="accordion-body accordion-collapse collapse"
              data-bs-parent="#accordion-left-tabs"
              aria-labelledby="llanfairpwllgwyngyll-left-tab"
            >
              <h1>
                Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch
              </h1>
              <section>
                <p>
                  <small>From Wikipedia, the free encyclopedia</small>
                </p>
              </section>
              <section>
                <p>
                  Llanfair­pwllgwyngyll­gogery­chwyrn­drobwll­llan­tysilio­gogo­goch
                  (pronounced
                  [ˌɬanvair­pʊɬˌɡwɨ̞ŋɡɨ̞ɬ­ɡɔˌɡɛrə­ˌχwərn­ˌdrɔbʊɬ­ˌɬan­təˌsɪljɔ­ˌɡɔɡɔ­ˈɡoːχ]
                  in Welsh), official short form name Llanfairpwllgwyngyll
                  (pronounced [ɬanˌvair puɬˈɡwɨ̞nɡɨ̞ɬ]), also spelled Llanfair
                  Pwllgwyngyll, is a large village and local government
                  community on the island of Anglesey in Wales. It is
                  situated on the Menai Strait next to the Britannia Bridge
                  and across the strait from Bangor. While the official
                  short form name is used in official contexts, both the
                  full name and shortened (Llanfairpwll or Llanfair PG)
                  forms of the place name are used in various contexts.
                </p>
                <p>
                  <a
                    href="https://en.wikipedia.org/wiki/Llanfairpwllgwyngyll"
                    target="_blank"
                    title="Open Wikipedia article in a new tab."
                  >Full article &gt;</a
                  >
                </p>
              </section>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


